body {
  background-image: url('img/default.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  text-shadow: 2px 2px 1px black;
  font-family: "Palatino Linotype", "book Antiqua", Palatino, serif;
}
#weatherContainer {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 5px black;
  padding: 50px;
  border-radius: 10px;
  position: absolute;
  visibility: hidden;
}
#weatherContainer h1 {
  margin: 5px;
  font-size: 42;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif
}

#searchContainer {
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
}
#searchContainer input {
  width: 200px;
}
#searchContainer button {
  background-color: rgb(1, 150, 190);
  width: 70px;
}
.searchLocation {
  box-shadow: 2px 2px 5px black;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
#weatherMain {
  display: block;
  margin-bottom: 20px;
}
#weathermain div {
  display: inline-block;
}
#weatherDescriptionHeader {
  font-size: 2px;
  vertical-align: 50%;
}
#temperature {
  font-size: 30px;
  vertical-align: 25%;
}
.buttomDetails {
  display: block;
  font-size: 24px;
  text-align: center;
}
hr {
  margin-bottom: 20px;
}
